/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Poppins:wght@400;500;700&display=swap');
/* Google Fonts */

:root {
    --alt-page: 100vh;
    --tam-fnt: 16px;
}

/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    /* scroll-behavior: smooth; */
}

body{
    /* background-image: url("/src/imagens/Image_9.png"); */
    background-color:burlywood;         /* #312E81 */       
    font-family: "Poppins", sans-serif;
    font-size: clamp(.75rem, 2.0vw, 1.25rem); 
}

.interface {
    max-width: 1280px;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* FIM ESTILO GERAL */



/* ESTILO CABECALHO */
header {
    /* padding: 40px 4%;           40px distancia em cima/baixo e 4% nas laterais */
    padding: 40px 4% 0px 4%;                      /* Alto - Dir - Baixo - Esq mobile */
}
/* header > .interface {   /* Classe de estilo que esta dentro da TAG *
     display: flex;
    align-items: center;
    justify-content: space-between; 
} */
header a{
    color: #FFF;
    text-decoration: none;  
    display: inline-block;  /* para o zoom do hover */
    transition: .2s;
}
header i{
    color: #312E81;
    font-size: 2.25rem;
}
header nav ul{
    list-style-type: none;
}
/* header nav.menu-desktop ul li{ */
header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;        /* espaco entre os links do menu */
}
/* header nav.menu-desktop ul li a:hover{ */
header nav.menu-desktop ul li a:hover{
    color: #312E81;
    transform: scale(1.05); /* tag a nao possui propried display: inline-block */
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 1.0rem;
    font-weight: 600;
    background-color: #312E81; /* #312E81  #0d0c23 */
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #312E81;
}
/* FIM ESTILO CABECALHO */






/* ---------------------------- ESTILO MOBILE ---------------------------- */
/*                      id="btn-menu" id="menu-mobile"                      */
/* .tela-mobile.open-menu */
/* .nav-itens {} */

.nav-mobile{
    overflow: hidden;
    width: 0px;                 /* 300px esconder */
    padding: 0rem;              /* 1rem esconder */
    position: absolute;
}
.item-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* menu fechado */
#menu-mobile {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;                         /* 75% */
    height: 100vh;
    background: rgb(222, 150, 100);
    /* padding: 40px 20px; */

    /* começa fora da tela */
    transform: translateX(100%);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.3s ease;

    z-index: 99999;
}

/* menu aberto */
#menu-mobile.active{
    transform: translateX(0); /* entra na tela */
}

#menu-mobile ul li{
    /* font-size: 20px; */
    font-weight: 300px;
    padding: 20px 4%;
}
#menu-mobile ul li a:hover{
    color: #312E81;
    transform: scale(1.05); /* tag a nao possui propried display: inline-block */
}
#close-menu:hover{
    color: #312E81;
    transform: scale(1.05); /* tag a nao possui propried display: inline-block */
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 151, 100, 0.5);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
    z-index: 88888;
}

.overlay-menu.active {
    opacity: 1;
    pointer-events: auto;
}

/*  ------------------------- FIM ESTILO MOBILE -------------------------  */




/* ESTILO TOPO ou HOME */
section.topo-do-site{               /* ----------------- TAMANHO SECAO topo-do-site ----------------- */
    /* padding: 60px 40px 115px 40px; */
    /* padding: 40px 4% 40px 4%;                      Alto - Dir - Baixo - Esq */
}
section.topo-do-site .flex{         /* A Tag.classe chama a classe flex */
    align-items: center;
    justify-content: space-around;
    gap: 90px;  
}
.topo-do-site h1{
    color: #fff;
    font-size: 32px;
    line-height: 60px;
}
.topo-do-site h1 span{
    color: #312E81;             /* #312E81 #0d0c23 */
    font-size: 42px; 
}
.topo-do-site .txt-topo-site p{ /*AQUI*/
    color: #312E81;
    margin: 40px 0;             /* 40px distancia em cima/baixo e Zero nas laterais */
}
.topo-do-site .img-topo-site img{
    margin-top: 0px;
    width: clamp(370px, 30vw, 400px);
    /* width: 400px; */
    height: auto;
}
/* FIM ESTILO TOPO ou HOME */




/* ESTILO BOXES */
section.financeiro{         /* ----------------- TAMANHO SECAO BOXES ----------------- */
    /* padding: 40px 4% 40px 4%;      Alto - Dir - Baixo - Esq */
    /* padding: 40px 4%;   */
}
section.financeiro .flex{
    gap: 60px;
}
h2.titulo{
    color: #312E81;     /* Minhas */
    font-size: 2.0em;              /*font-size: 38px;*/ 
    text-align: center;
}
h2.titulo span{
    padding: 0 0 0 2%;    /* HABILIDADES */
    color:#FFF;
    font-size: 1.0em;                 /*font-size: 38px;*/
    background-color: #171354;      /* #312E81 #0d0c23 */ 
}
.financeiro .financeiro-box{                        /* chama a section financeiro e a classe financeiro */
    color: #FFF;        
    background-color: #0c0a2d;      /* #312E81  #0d0c23 */
    padding: 40px;                    /* espacamento todos os lados */
    border-radius: 20px;    
    /* border: 2px solid #fff; */
    margin-top: 45px;
    transition: .2s;
}
.financeiro .financeiro-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #0c0a2d;     /*#ffffff7b - #312E81 - */
}
.financeiro .financeiro-box i{
    font-size: 4.25em;                  /* 70px icons dos boxes*/
    color: #312E81;
    background-color: #FFF;
}
.financeiro .financeiro-box h3{
    font-size: 1.25em;                   /* 28px titulo dos boxes*/
    margin: 15px 0;                     /* espacamento todos os lados */
}
/* FIM ESTILO BOXES */




/* ESTILO CONTRACHEQUE */
section.grid1{              /* ----------------- TAMANHO SECAO CONTRA-CHEQUE ----------------- */
    /* padding: 40px 4% 40px 4%;       Alto - Dir - Baixo - Esq */
    /* padding: 40px 4%;  */                 
}
.money {
    margin: 0px 0px 5px 10px;                 /* Alto - Dir - Baixo - Esq */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
    text-align: left;
}
/* Estiliza o campo de entrada em si */
input[type="number"] {
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
    text-align: left;
}
/* Remove as setas em navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove as setas */
    margin: 0; /* Remove margens */
}
/* Remove as setas em navegadores Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
}
/* Estilo para o foco */
input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}
#container{
    margin: 40px 0%;                /* - Baixo - */
    border: 1px solid #000;
    display: grid;
    /* grid-template-columns: 220px 230px 100px; */
    grid-template-columns: 1fr 1.25fr 1fr;
    /* grid-template-rows: 200px 100px 500px; */
}
.item{
    border: 5px solid #ccc;
    background-color: burlywood;
    /* padding: 34px; */
    margin: 1px;        /* distancia entre os itens */
    padding: 40px 4%;   /* diastancia internar do item */
    place-items: center;
    
}
.lbl-txt {
    text-align: right;
}
/* FIM ESTILO CONTRACHEQUE */





/* ESTILO SOBRE */
section.sobre{               /* ----------------- TAMANHO seção SOBRE ----------------- */
    /* padding: 40px 4% 40px 4%;                      Alto - Dir - Baixo - Esq */
    /* padding: 40px 4%;   */
    padding: 0px 4%;
}
#txt-sobre {
    display: block;
    text-align:justify;
    margin: 10px 4%;
}
.txt-sobre ul{
    list-style-type: none;
}
.txt-sobre ul li{ 
    color: #FFF;
}
/* #txt-sobre ul li:hover{
    color: #312E81;
    transform: scale(1.05); 
} */
.txt-sobre p{
    color: #312E81;
    margin: 40px 0;             /* 40px distancia em cima/baixo e Zero nas laterais */
}
.img-sobre img{
    margin-top: 0px;
    width: clamp(370px, 30vw, 400px);
    /* width: 400px; */
    height: auto;
}
/* FIM ESTILO SOBRE */



/* ESTILO RODAPÉ */
footer{
    padding: 40px 4%;
    /* box-shadow: 0 0 40px 10px #312E81; */
}
footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
    /* border-bottom: 2px solid #312E81; */
    /* border-top: 2px solid #312E81; */
}
.borda{
    border-top: 2px solid #312E81;
}
footer .logo i{
    color: #312E81;
    font-size: 2.25rem;
}
footer .line-footer p i{
    color: #FFF;
    font-size: 26px;
}
footer .line-footer p a{
    color: #FFF;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
}

.btn-social button {
    padding: 6px 6px;
    font-size: 18px;
    font-weight: 600;
    background-color: #312E81; /* #312E81  #0d0c23 */
    color: #FFFF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-social button:hover {
    box-shadow: 0px 0px 10px #312E81;
}
/* FIM ESTILO RODAPÉ */


/* Padrão: desktop */
#open-menu {
    display: none;
}
.txt-boas-vindas {
    display: none;
}

/*          Tela iPad 1080px LARGURA     1023px */
/*          Tela iPad 1080px LARGURA            */
@media only screen and (max-width: 1020px) {
    /* CLASSES gerais */
    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{ /* ----------------- Exibir titulo antes da foto no topo-do-site ----------------- */
        flex-direction: column-reverse; 
        /* flex-direction: column; */
    }
    header .flex{
        align-items:flex-start;
    }
    /*                          Menu DESK TOP do cabecalho                      */




    /* ---------------------------- ESTILO MOBILE ---------------------------- */
    .menu-desktop, .btn-contato{
        display: none;
    }
    
    #open-menu {
        display: block; /* ou inline-block */
        font-size: 32px;
        cursor: pointer;
    } 

    /* Menu mobile fechado */
    /* #menu-mobile {
        transform: translateX(100%); 
        transition: transform 1.0s ease;
    } */
    
    /* 
    .overlay-menu.active{
        display: block;
        opacity: 1;
        visibility: visible;
    }  */

    .overlay-menu.active {
        opacity: 1;
        pointer-events: auto;
    }

    /* Menu aberto */
    #menu-mobile.active {
        width: 75%;
        transform: translateX(0);
        opacity: 1;
    }
    #menu-mobile ul {
        list-style: none;
        margin-top: 40px;
    }
    #menu-mobile li {
        margin-bottom: 20px;
    }
    #menu-mobile a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    #close-menu {
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }
    /* FIM -------------------------- ESTILO MOBILE -------------------------- */

    /*                          Menu DESK TOP do cabecalho                      */

    /* TOPO do SITE */
    section.topo-do-site{ /* ----------------- Exibir titulo antes da foto no topo-do-site ----------------- */
        /* padding: 0px 40px 115px 40px;                       Alto - Dir - Baixo - Esq  mobile */ 
        padding: 0px 0px 0px 40px;
    }
    .topo-do-site h1{
        font-size: 30px;
    }
    .topo-do-site .txt-topo-site p{ 
        font-size: 20px;
    }
    body{
        background-color:rgb(222, 150, 100);
        /* font-size: clamp(.75rem, 1.65vw, 1.25rem); */
    }
    /* BOXES */
    #container .item{
        background: rgb(222, 150, 100);
    }
    #container{
        margin: 40px 4%;                /* - Baixo - */
    }
    #sobre .flex{ /* ----------------- Exibir titulo antes da foto no topo-do-site ----------------- */
        flex-direction: column-reverse; 
        /* flex-direction: column; */
    }
    .txt-boas-vindas {
        display: block; /* ou flex, se quiser alinhar */
        text-align: center;
        margin: 20px 0;
    }
    .txt-boas-vindas h1 {
        font-size: 22px;
    }
    .txt-boas-vindas span {
        color: rgb(222, 150, 100);
    }

    footer .flex{
        flex-direction: row; 
        align-items:flex-start;
    }
}
/* FIM      Tela iPad 1080px LARGURA            */


/*          Tela Mobile 432px LARGURA     903px */
/*          Tela Mobile 432px LARGURA     717px */
