/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Poppins:wght@400;500;700&display=swap');
/* Google Fonts */

:root {
    --alt-page: 100vh;
    --tam-fnt: 16px;
}

/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    /* background-image: url("/src/imagens/Image_9.png"); */
    background-color:burlywood;         /* #312E81 */       
    font-family: "Poppins", sans-serif;
    font-size: clamp(.75rem, 2.0vw, 1.25rem); 
}

.interface {
    max-width: 1280px;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* FIM ESTILO GERAL */



/* ESTILO CABECALHO */
header {
    padding: 40px 4%;           /* 40px distancia em cima/baixo e 4% nas laterais */
}
/* header > .interface {   /* Classe de estilo que esta dentro da TAG *
     display: flex;
    align-items: center;
    justify-content: space-between; 
} */
header a{
    color: #FFF;
    text-decoration: none;  
    display: inline-block;  /* para o zoom do hover */
    transition: .2s;
}
header i{
    color: #312E81;
    font-size: 2.25rem;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;        /* espaco entre os links do menu */
}
header nav ul li a:hover{
    color: #312E81;
    transform: scale(1.05); /* tag a nao possui propried display: inline-block */
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 1.0rem;
    font-weight: 600;
    background-color: #312E81; /* #312E81  #0d0c23 */
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #312E81;
}
/* FIM ESTILO CABECALHO */


/* ESTILO TOPO ou HOME */
section.topo-do-site{               /* Tag chama classe */
    padding: 60px 40px 115px 40px;                      /* Alto - Dir - Baixo - Esq */
}
section.topo-do-site .flex{         /* A Tag.classe chama a classe flex */
    align-items: center;
    justify-content: space-around;
    gap: 90px;  
}
.topo-do-site h1{
    color: #fff;
    font-size: 32px;
    line-height: 60px;
}
.topo-do-site h1 span{
    color: #312E81;             /* #312E81 #0d0c23 */
    font-size: 42px; 
}
.topo-do-site .txt-topo-site p{
    color: #312E81;
    margin: 40px 0;             /* 40px distancia em cima/baixo e Zero nas laterais */
}
.topo-do-site .img-topo-site img{
    margin-top: 0px;
    width: clamp(370px, 30vw, 400px);
    /* width: 400px; */
    height: auto;
}
/* FIM ESTILO TOPO ou HOME */


/* ESTILO ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
h2.titulo{
    color: #312E81;     /* Minhas */
    font-size: 2.0em;              /*font-size: 38px;*/ 
    text-align: center;
}
h2.titulo span{
    padding: 0 0 0 2%;    /* HABILIDADES */
    color:#FFF;
    font-size: 1.0em;                 /*font-size: 38px;*/
    background-color: #171354;      /* #312E81 #0d0c23 */ 
}
.especialidades .especialidades-box{                        /* chama a section especialidades e a classe especialidades */
    color: #FFF;        
    background-color: #0c0a2d;      /* #312E81  #0d0c23 */
    padding: 40px;                    /* espacamento todos os lados */
    border-radius: 20px;    
    /* border: 2px solid #fff; */
    margin-top: 45px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #0c0a2d;     /*#ffffff7b - #312E81 - */
}
.especialidades .especialidades-box i{
    font-size: 4.25em;                  /* 70px icons dos boxes*/
    color: #312E81;
    background-color: #FFF;
}
.especialidades .especialidades-box h3{
    font-size: 1.25em;                   /* 28px titulo dos boxes*/
    margin: 15px 0;                     /* espacamento todos os lados */
}
/* FIM ESTILO ESPECIALIDADES */



/* ESTILO RODAPÉ */
footer{
    padding: 40px 4%;
    /* box-shadow: 0 0 40px 10px #312E81; */
}
footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
    /* border-bottom: 2px solid #312E81; */
    /* border-top: 2px solid #312E81; */
}
.borda{
    border-top: 2px solid #312E81;
}
footer .logo i{
    color: #312E81;
    font-size: 2.25rem;
}
footer .line-footer p i{
    color: #FFF;
    font-size: 26px;
}
footer .line-footer p a{
    color: #FFF;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
}

.btn-social button {
    padding: 6px 6px;
    font-size: 18px;
    font-weight: 600;
    background-color: #312E81; /* #312E81  #0d0c23 */
    color: #FFFF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-social button:hover {
    box-shadow: 0px 0px 10px #312E81;
}
/* FIM ESTILO RODAPÉ */




/*          Tela iPad 1080px LARGURA     1023px */
/*          Tela iPad 1080px LARGURA            */
@media only screen and (max-width: 1020px) {
    /* CLASSES gerais */
    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    header .flex{
        align-items:flex-start;
    }
    /* Cabecalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* TOPO do SITE */
    section .topo-do-site{
        padding: 20 8%;
    }
    .topo-do-site h1{
        font-size: 30px;
    }
    .topo-do-site .txt-topo-site p{
        font-size: 20px;
    }
    body{
        background-color:rgb(222, 150, 100);
        /* font-size: clamp(.75rem, 1.65vw, 1.25rem); */
    }
    footer .flex{
        flex-direction: row; 
        align-items:flex-start;
    }
}
/* FIM      Tela iPad 1080px LARGURA            */


/*          Tela Mobile 432px LARGURA     903px */
/*          Tela Mobile 432px LARGURA     717px */
